<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper 
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- #{}규칙
1. 파라미터가 여러 속성을 가진 객체인 경우 #{num}은 getNum()혹은 setNum()을 의미한다.
2. 파라미터가 하나이고, 기본자료형이나 문자열인 경우 값이 그대로 전달된다.
3. 파라미터가 Map타입인 경우 #{num}은 Map객체의 키 값이 num인 값을 찾는다.
  -->



<mapper namespace="org.zerock.mapper.MemberMapper">		<!--이곳 네임스페이스는 dao에서 쓰인다.  -->

	<select resultType="string" id="getTime"> 
	select now() 		<!--now()함수를 쓰면 현재 시간을 얻을 수 있다.  -->
	</select>
	
	<insert id="insertMember"> 
	insert into tbl_member (userid,userpw, username, email) 
	values (#{userid}, #{userpw}, #{username}, #{email}) 
	</insert>

	<select resultType="org.zerock.domain.MemberVO" id="selectMember"> 
	select * 
	from tbl_member 
	where userid = #{userid} 
	</select>

	<select resultType="org.zerock.domain.MemberVO" id="readWithPW"> 
	select * 
	from tbl_member 
	where userid = #{userid} and userpw = #{userpw} 
	</select>

</mapper>